* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ff6347;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ff6347;
    margin-top: 20px;
}

.content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

/* Estilo dos Cards */
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.card {
    width: 250px;
    background-color: #ff79c6;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.card .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-top: -50px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5rem;
    color: #fff;
    margin: 10px 0;
}

.card p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 20px;
}

.card .instagram-button {
    padding: 10px 20px;
    background-color: #f3a4d4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.card .instagram-button:hover {
    background-color: #d381b8;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #bbb;
}
